@import "~shapla-color-system/src/variables";
@import "utilities-classes/all";
@import "shapla-box";
@import "~vue-select/src/scss/vue-select";

.shapla-text-field {
	margin-bottom: 1rem;
}

.shapla-widget-box__heading {
	background: $primary;
	color: $on-primary;
	padding: 15px;
}

body.has-support-ticket .site-content {
	background: #f5f7fb;
}


.button-save-settings-container,
.button-add-agent-container,
.button-add-role-container {
	position: fixed;
	bottom: 1rem;
	right: 1rem;
	z-index: 10;
}

.button-save-settings-container {
	svg {
		fill: $on-primary !important;
	}
}