@use "~shapla-css/src/index.scss" as shapla with (
  $checkbox-image-path: "shapla-css/src/form/checkbox",
  $color--primary: #303D7A,
  $color--secondary: #FBE277,
);

@include shapla.button;
@include shapla.checkbox;
@include shapla.columns;
@include shapla.spinner;
@include shapla.text-field;
